{% extends "layout.html" %}

{% block content %}

{% include "components/_navbar.html" %}

<div class="profile-edit-page w-100 d-flex justify-content-center align-items-end">
    <div class="profile-edit-into d-flex flex-column justify-content-start position-relative">
        <h3 class="text-white fw-bold mt-5 ms-5">Şifremi Değiştir</h3>
        <hr class="text-white w-75 mt-1 ms-5">
        <form action="" method='POST' class="mt-1 d-flex flex-column w-50 ms-5">
            {% csrf_token %}
            {{form}}
            <a href=""><button type='submit' class='btn mt-5 rounded-0' style="background-color: #ffc900; width: 260px;">Değiştir</button></a>
        </form>
        <a href="{% url "profile_page" %}"><button type='submit' class='btn rounded-0 position-absolute' style="background-color: #404040; top:453px; left:308px; width: 152px;">İptal</button></a>

    </div>
</div>

{% include "components/_footer.html" %}
{% include "components/_messages.html" %}
{% endblock content %}