*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.7px;
    color: black;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 0.5px solid black;
}
.start-page{
    position: relative;
    background-color: black;
}
.logo-navbar{
    width: 100%;
    height: 120px;
    background-color: #ffc900;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.left-side{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.left-span{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight:800;
    font-size: 14px;
    line-height: 1.5em;
}
.left-span p{
    line-height: 1rem;
}
.right-side{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight:bold;
    gap: 10px;
    line-height: 2.5rem;
    border:0;
}
.right-side-a1 button{
    width: 280px;
    font-weight: bold;
}
.right-side-a2 button{
    width: 120px;
    font-weight: bold;
    border: 0;
    border: 1px solid #313131;
}
.right-side i span{
    font-size: 16px;
}
.fixed-navbar{
    position: sticky;
    top: 0;
    background-color: #111;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.9rem;
    color: black;
    z-index: 2;
}
.fixed-navbar form{
    display: flex;
    gap: 30px;
    color: black;
    height: 50px;
    width: 1000px;
    font-weight:700;
    font-size: 16px; 
}
.fixed-navbar button{
    height: 50px;
    width: 310px;
    font-weight:700;
    font-size: 20px;
}

.fixed-navbar2 button{
    height: 50px;
    width: 310px;
    font-weight:700;
    font-size: 20px;
}
.fixed-navbar2 form label{
    color: #ffc900;
}

.input-placeholder{
    width: 330px;
    border: 2px solid #ffc900;
}
.input-placeholder::placeholder {
    color: black; 
    font-weight:700;
    font-size: 16px;
    padding-left: 20px;
        
}
.banner{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containers{
    width: 100%;
    height: 1110px;
    display: flex;
    justify-content: center;
}
.mixed{
    width: 68%;
    display: flex;  
}
.mixed-card{
    display: flex;
    flex-direction: column;
}
.play-button{
    position: relative;
}
.mixed-card img{
    width: 227px;
    height: 340px;
    z-index: -1;
}
.i-border{
    position: absolute;
    border: 2px solid white ;
    width: 23px;
    height: 23px;
    font-size: 13px;
    color: #ffc900;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 198px;
}
.mixed-h5{
    font-weight: 700;
}
.screens{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.screens h1{
    width: 55%;
    line-height: 2.7rem;
}
.apps{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.apps img{
    cursor: pointer;
}
.fonts{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}
.fonts a{
    width: 30px;
    height: 30px;
    background-color: white;
    color: #111;
    text-decoration: none;
    border-radius: 10%;
    font-size: 18px;
}
.fonts i{
    margin-top: 7px;
}
.help-center{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.help-center a{
    text-decoration: none;
}
.help-center h4{
    color: #ffc900;
    font-weight: 800;
    font-size: 20px;
}
.help-center p{
    color: white;
    font-weight: bold ;
}
.login{
    width: 100%;
    height: 700px;
}
.frame{
    background-color: #212121;
    width: 440px;
    height: 484px;
    margin-bottom: 110px;
}
.input-container{
    width: 340px;
    height: 76px;
    
}
.css-input-label{
    margin-right: 120px;
}
.frame button{
    margin-top: 15px;
    width: 340px;
    height: 46px;
}
.footer{
    width: 100%;
    height: 330px;
    background-color: #212121;
    padding-top: 50px;
    gap: 50px;
}
.footer img{
    border: 2px solid white;
}
.contracts-left a{
    text-decoration: none;
    color: #9e9e9e;
    font-size: 17px;
    line-height: 1.8rem;
}
.contracts-right a{
    text-decoration: none;
    color: #9e9e9e;
    font-size: 17px;
    line-height: 1.8rem;
}
.footer p{
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 700;
}
.footer hr{
    margin-top: 0;
}
.follow-us-a{
    height: 200px;
    width: 200px;
    gap: 9px;
}
.follow-us-a a{
    width:24px;
    height:24px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #111;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow-us-a i{
    text-align: center;
    font-size: 16px;
}
.applications-img{
    gap: 20px;
}
.applications img{
    border-radius: 7px;
}
.profile-page{
    width: 100%;
    height: 836px;
    position: relative;
}
.profile-bg{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('https://image.exxen.com/content/n/XP/44596/Background.jpg?v=637813104022591720') !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.profile-bg-into{
    position: relative;
    z-index: 1;
    color: white;
    width: 526px;
    height: 100%;
    background-color:#111;
    z-index: 2;
    opacity: 0.7;
    
}
.who-watching{
    position: absolute;
    z-index: 3;
    color:white;
    gap: 20px;
    top: 50px;
    align-items: center;
}
.who-watching-img{
    width: 50%;
    border: 2px solid white; 
}
.profile-img{
    width: 97px;
    height: 97px;
    background-image: url('https://asset.exxen.com/config/image/profile_avatar/1.png');
    cursor: pointer;
}
.input-placeholder2{
    height: 50px;
     
}
.search-button::placeholder{
    position: absolute;
    left: 30px;
    color: #fff;
}
.index-page{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;    
}
.index-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.carousel-main::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, transparent, #111);
    z-index: 1;
}
.carousel-span{
    width: 48px;
    height: 40px;
}
.swiper span{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgba(232, 231, 231, 0.4);
    opacity: .7;
}

.slide-content{
    margin: 0 40px;
}

.profile-edit-page{
    height: 700px;
    background-color: #1B1B1B;
}
.profile-edit-into{
    height: 650px;
    width: 65%;
    background-color: black;
}
.password-input{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #313131;
    border: 2px solid #313131;
    width: 410px;
    height: 53px;
}
.password-input::placeholder {
    color: #9e9e9e; 
    font-weight:700;
    font-size: 16px;
    padding-left: 20px;     
}

